@{
    ViewBag.Title = "Purchase History";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Order", "Order", "Admin")</li>
                <li class="active">Order Details</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="cart__wrapper">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left" colspan="2">Product</th>
                            <th class="text-left">Price</th>
                            <th class="text-center">Quanity</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="cart__button-wrapper"><a class="cart__button" href="@Url.Action("Order", "Admin")">Back</a></div>
        </div>
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    <tr>
        <td class="cart__image-wrapper"><a href="{{ product_url }}"><img class="cart__image" src="{{ file_path }}" alt="{{ product_name }}" title="{{ product_name }}"></a></td>
        <td class="text-left">
            <div class="cart__product-name"> <a href="{{ product_url }}">{{ product_name }}</a></div>
        </td>
        <td class="text-left cart__unit-price">{{ price }}</td>
        <td class="text-center">{{ quantity }}</td>
        <td class="text-right cart__product-total">{{ sub_total }}</td>
    </tr>
</script>

@section Scripts{
    @Scripts.Render("~/bundles/mustache")
    <script>
        $(function () {

            var template = $('#template').html();
                Mustache.parse(template);

            $.ajax({
                url: "/api/Order/@ViewBag.Id",
                method: "GET",
                dataType: "json",
                statusCode: {
                    200: function (response) {
                        console.log(response)

                        var html = "";

                        $.each(response.orderedItems, function (index, value) {

                            html += Mustache.render(template, {
                                product_url: "/Product/Details/" + value.product_id,
                                product_name: value.product_name,
                                file_path: value.file_path,
                                price: value.price,
                                quantity: value.quantity,
                                sub_total: value.sub_total
                            });
                        });

                        $('.cart__wrapper tbody').html(html);
                    }
                }
            });

        });
    </script>
}