<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Sales Record</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="account__purchase-history-wrapper">
                <div class="account__group">
                    <div class="account__heading">Sales Record</div>
                </div>
                <div class="account__group" id="record_list"></div>
            </div>
        </div>
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    <div class="account__record" data-id="{{ order_id }}">
        <div class="account__sub-group left">
            <div class="account__text"><b>Order No. : {{ invoice_no }}</b></div>
            <div class="account__text">Transaction Status: {{ order_status }}</div>
            <div class="account__text">Order Date: {{ order_datetime }}</div>
            <div class="account__text">Delivery: {{ delivery_type }}</div>
            <div class="account__text">Table No.: {{ table_no }}</div>
            <div class="account__text">Amount: {{ total_amount }}</div>
        </div>
        <div class="account__sub-group right">
            <div class="account__text text-right"><a href="javascript:void(0)"><span class="glyphicon glyphicon-menu-right"></span></a></div>
        </div>
    </div>
</script>

@section Scripts{
    @Scripts.Render("~/bundles/mustache")
    <script>
        $(function () {
            $('body').on('click', '.account__record', function () {
                var OrderId = $(this).attr('data-id');

                if (OrderId != null && OrderId != "") {
                    window.location.href = "/Admin/Order/" + OrderId + "?page=details";
                }
            })

            var template = $('#template').html();
                Mustache.parse(template);

            $.ajax({
                url: "/api/Orders",
                method: "GET",
                dataType: "json",
                statusCode: {
                    200: function (response) {
                        
                        var html = "";

                        $.each(response.orders, function (index, value) {

                            html += Mustache.render(template, {
                                invoice_no: value.invoice_no,
                                order_datetime: value.order_datetime,
                                order_id: value.order_no,
                                order_status: value.order_status,
                                delivery_type: value.delivery_type,
                                table_no: (value.delivery_type == "Dinn In") ? value.table_no : "N/A",
                                total_amount: value.total_amount
                            });
                        });

                        $('#record_list').html(html);
                    }
                }
            });
        })
    </script>
}