@import "variables"
@import "mixin"
@import "components/breadcrumb"

// Navbar
.navbar
    margin-bottom: 0
    border-radius: 0

    &-inverse
        background-color: $black-bg

    &-nav > li > a
        font-weight: bold
        color: #FFF

        &:hover
            color: $red
            font-weight: bold
            -moz-transition: all 0.3s ease-out 0s
            -ms-transition: all 0.3s ease-out 0s
            -o-transition: all 0.3s ease-out 0s
            transition: all 0.3s ease-out 0s

    .badge
        background: $red

.jumbotron
    margin-bottom: 50px

.panel
    box-shadow: none

.about
    $self: &

    &__wrapper
        margin: 50px 0

.category
    $self: &

    &__wrapper
        #{$self}__options
            background: none
            padding-left: 0
            padding: 8px 15px
            margin: 0 auto
            text-align: center
            list-style: none
            border-radius: 4px
            margin-top: 0

            li
                display: inline-block
                &.active
                    color: #777777

                a:hover
                    text-decoration: underline
                    color: $black-bg
            li+li:before
                padding: 0 5px
                color: $black-bg
                content: "/\00a0"

.product
    $self: &

    &__wrapper

        &:hover #{$self}__img #{$self}__action
            opacity: 1
            visibility: visible
            bottom: 12px

        &:hover img
            opacity: 0.6

        #{$self}__img
            overflow: hidden
            position: relative

            #{$self}__action
                bottom: -30px
                display: flex
                justify-content: space-between
                left: 0
                padding: 0 20px
                position: absolute
                right: 0
                width: 100%
                opacity: 0
                visibility: hidden
                transition: all .3s ease 0s
                text-transform: uppercase

                a
                    span.glyphicon
                        font-size: 20px
                        font-weight: bold
                        text-decoration: none
                    span.text
                        font-size: 13px
                        font-weight: 500
                        text-decoration: none
                        margin-left: 5px
                    &:hover
                        text-decoration: none
                        color: $red
                        -moz-transition: all 0.3s ease-out 0s
                        -ms-transition: all 0.3s ease-out 0s
                        -o-transition: all 0.3s ease-out 0s
                        transition: all 0.3s ease-out 0s

        #{$self}__details
            margin-top: 20px

    &__thumbnail-wrapper
        margin: 50px 0

    &__details-wrapper
        margin: 50px 0

        #{$self}__name > h4
            font-size: 30px
            font-weight: bold
            text-transform: uppercase

        #{$self}__price
            font-size: 20px
            font-weight: bold
            &.discounted
                text-decoration: line-through

        #{$self}__discounted-price
            font-size: 25px
            font-weight: bold
            color: $red
            text-decoration: none

        #{$self}__qty
            margin: 10px 0

            .btn-qty-plus,
            .btn-qty-minus
                margin: 0 10px
                display: inline
            input
                width: 50px
                text-align: center
                display: inline

        #{$self}__actions
            margin: 50px 0
            a
                width: 200px
                margin-right: 10px
                display: inline
                @media (max-width: 1200px)
                    width: 100%
                    display: block
                    text-align: center
                    margin: 20px 0

            span.text
                margin-left: 10px
                text-transform: uppercase

        #{$self}__button
            @include buttonStyle(#ffffff, $black-bg)

.register
    $self: &
    
    &__wrapper
        margin: 50px 0
        height: 500px
        background: $black-bg

        #{$self}__part
            color: #FFF
            margin: 0 auto
            text-align: center
            padding: 120px 40px
            display: table

            h2
                font-weight: bold

            #{$self}__button
                @include buttonStyle($black-bg, #ffffff);

.login
    $self: &

    &__wrapper
        margin: 50px 0
        height: 500px
        background: none

        #{$self}__part
            color: $black-bg
            margin: 0 auto
            text-align: center
            padding: 80px 30px

            h2
                text-align: left
                font-weight: bold
                margin-bottom: 50px

            #{$self}__username,
            #{$self}__password
                width: 100%
                outline: none
                border: none
                border-bottom: 1px solid #ddd
                padding: 10px 5px
                margin: 10px 0
                box-shadow: none

                &:focus
                    outline: none
                    box-shadow: none
                    -webkit-box-shadow: none

            #{$self}__button
                @include buttonStyle(#ffffff, $black-bg);

.registration
    $self: &

    &__wrapper
        margin: 50px auto
        width: 600px
        @media (max-width: 640px)
            width: auto

        h2
            font-weight: bold
            margin-bottom: 50px

        #{$self}__button
            @include buttonStyle(#ffffff, $black-bg);

        #{$self}__input-field
            width: 100%
            outline: none
            border: none
            border-bottom: 1px solid #ddd
            padding: 10px 5px
            margin: 10px 0
            box-shadow: none

            &:focus
                outline: none
                box-shadow: none
                -webkit-box-shadow: none

        #{$self}__icon-wrapper
            width: 100%
            text-align: center
            font-size: 150px
            color: green

        #{$self}__text
            text-align: center
            &.large
                font-size: 50px
                font-weight: bold
            &.small
                font-size: 25px

// Products
.category
    $self: &
    
    &__wrapper
        width: 400px
        margin: 50px auto

    &__options
        font-size: 30px

        a.active
            text-decoration: underline
        a:hover
            text-decoration: none

// Contact
.contact
    $self: &

    &__wrapper
        max-width: 500px
        margin: 50px auto

        #{$self}__input-field
            width: 100%
            outline: none
            border: none
            border-bottom: 1px solid #ddd
            padding: 10px 5px
            margin: 10px 0
            box-shadow: none

            &:focus
                outline: none
                box-shadow: none
                -webkit-box-shadow: none

        textarea
            height: 150px
            resize: none

        #{$self}__button
            @include buttonStyle(#ffffff, $black-bg);

// Cart
h1.custom-title
    text-align: center
    font-size: 2.15em

.cart
    $self: &;

    &__wrapper
        margin: 50px auto 0 auto

        table
            width: 100%

            tr
                border-bottom: 1px solid #eeeeee
                &:last-child
                    border: 0

                th
                    font-size: 12px
                    padding: 28px 0

                td
                    font-size: 12px
                    padding: 28px 0
                    
                    #{$self}__update
                        width: 130px
                        font-weight: bold
                        float: right

    &__add-to-cart
        width: 130px
        margin: 0 auto
        font-weight: bold

        .text
            padding-left: 5px

    &__image-wrapper
        width: 130px
        @media (max-width: 640px)
            width: auto

    &__image
        width: 90px
        &:hover
            opacity: 0.6
    &__product-name
        padding: 10px 0
        a:hover
            text-decoration: none
            opacity: 0.6
        @media (max-width: 640px)
            padding: 5px
    &__remove
        width: 100px
        color: $red
        &:hover
            color: $red
        
        @media (max-width: 640px)
            padding: 5px
    &__qty-input
        text-align: center
        margin: 0 auto
        width: 60px
        padding: 0 5px
        @media (max-width: 640px)
            margin: 0 5px

    &__button-wrapper
        margin: 50px 0
        text-align: center

    &__button
        @include buttonStyle(#ffffff, $black-bg);

    &__footer
        margin: 25px 0

        #{$self}__total-wrapper
            @media (max-width: 640px)
                text-align: center

            #{$self}__total-title
                font-size: 20px
                font-weight: bold

            #{$self}__total
                font-size: 20px
                padding-left: 20px

        #{$self}__checkout-wrapper
            margin: 30px 0

            #{$self}__checkout
                margin: 50px auto
                font-weight: bold
                width: 200px

.account
    $self: &

    &__details-wrapper
        margin: 50px 0
        border: 1px solid #eeeeee

        #{$self}__group
            width: 300px
            margin: 30px auto

            #{$self}__label
                font-size: 12px
                font-weight: bold

            #{$self}__value
                font-size: 12px

    &__purchase-history-wrapper
        margin: 50px 0
        
        #{$self}__group

            #{$self}__heading
                font-size: 20px
                font-weight: bold
                margin-bottom: 30px
            
            #{$self}__record
                font-size: 12px
                border: 1px solid #eeeeee
                border-radius: 5px
                margin-bottom: 10px
                padding: 10px
                cursor: pointer

                &:nth-child(even)
                    background: #eeeeee

                #{$self}__sub-group
                    display: inline-block
                    vertical-align: middle
                    
                    &.left
                        width: 80%
                    &.right
                        width: 18%

.admin
    $self: &

    &__menu-wrapper
        margin: 50px 0

        #{$self}__menu-item

            #{$self}__menu-item-group
                display: inline-block
                vertical-align: middle
                padding: 5px
                font-size: 14px

                .badge
                    margin-left: 5px

                a:hover
                    color: $black-bg

    &__orders-wrapper
        margin: 50px 0
        
        #{$self}__group

            #{$self}__heading
                font-size: 20px
                font-weight: bold
                margin-bottom: 30px
            
            #{$self}__record
                font-size: 12px
                border: 1px solid #eeeeee
                border-radius: 5px
                margin-bottom: 10px
                padding: 10px
                cursor: pointer

                &:nth-child(even)
                    background: #eeeeee

                #{$self}__sub-group
                    display: inline-block
                    vertical-align: middle
                    
                    &.left
                        width: 80%
                    &.right
                        width: 18%

    &__order-customer-details-wrapper
        margin: 50px 0 0 0
        font-size: 14px

        #{$self}__order-group
            margin-bottom: 10px

            label 
                font-weight: bold
                &.heading
                    font-size: 30px

            span
                padding-left: 10px



footer
    background-color: #f2f2f2
    padding: 25px