@import "variables"

// Navbar
.navbar
    margin-bottom: 0
    border-radius: 0

    &-inverse
        background-color: $black-bg

    &-nav > li > a
        font-weight: bold
        color: #FFF

        &:hover
            color: $red
            font-weight: bold
            -moz-transition: all 0.3s ease-out 0s
            -ms-transition: all 0.3s ease-out 0s
            -o-transition: all 0.3s ease-out 0s
            transition: all 0.3s ease-out 0s

    .badge
        background: $red

.jumbotron
    margin-bottom: 50px

.panel
    box-shadow: none

.about
    $self: &

    &__wrapper
        margin: 50px 0

.product
    $self: &

    &__wrapper

        &:hover #{$self}__img #{$self}__action
            opacity: 1
            visibility: visible
            bottom: 12px

        &:hover img
            opacity: 0.6

        #{$self}__img
            overflow: hidden
            position: relative

            #{$self}__action
                bottom: -30px
                display: flex
                justify-content: space-between
                left: 0
                padding: 0 20px
                position: absolute
                right: 0
                width: 100%
                opacity: 0
                visibility: hidden
                transition: all .3s ease 0s
                text-transform: uppercase

                a
                    span.glyphicon
                        font-size: 20px
                        font-weight: bold
                        text-decoration: none
                    span.text
                        font-size: 13px
                        font-weight: 500
                        text-decoration: none
                        margin-left: 5px
                    &:hover
                        text-decoration: none
                        color: $red
                        -moz-transition: all 0.3s ease-out 0s
                        -ms-transition: all 0.3s ease-out 0s
                        -o-transition: all 0.3s ease-out 0s
                        transition: all 0.3s ease-out 0s

        #{$self}__details
            margin-top: 20px

    &__thumbnail-wrapper
        margin: 50px 0

    &__details-wrapper
        margin: 50px 0

        #{$self}__name > h4
            font-size: 30px
            font-weight: bold
            text-transform: uppercase

        #{$self}__price
            font-size: 20px
            font-weight: bold
            &.discounted
                text-decoration: line-through

        #{$self}__discounted-price
            font-size: 25px
            font-weight: bold
            color: $red
            text-decoration: none

        #{$self}__qty
            margin: 10px 0

            .btn-qty-plus,
            .btn-qty-minus
                margin: 0 10px
                display: inline
            input
                width: 50px
                text-align: center
                display: inline

        #{$self}__actions
            margin: 50px 0
            a
                width: 200px
                margin-right: 10px
                display: inline
                // float: left
            span.text
                margin-left: 10px
                text-transform: uppercase

.register
    $self: &
    
    &__wrapper
        margin: 50px 0
        height: 400px
        background: $black-bg

        #{$self}__part
            color: #FFF
            margin: 0 auto
            text-align: center
            height: 600px
            padding: 80px 70px
            display: table

            #{$self}__button
                text-transform: uppercase
                font-weight: bold
                margin: 20px 0
                background: none
                padding: 10px 40px
                border-radius: 30px
                border: 1px solid #FFF
                transition: 0.5s

                &:hover
                    text-decoration: none
                    background: #ffffff
                    color: $black-bg

// Login
// .login

//     &__form
//         width: 400px
//         margin: 50px auto

//         h2
//             margin: 0 0 15px

//         form
//             margin-bottom: 15px
//             background: #f7f7f7
//             box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
//             padding: 30px

// Products
.category
    $self: &
    
    &__wrapper
        width: 400px
        margin: 50px auto

    &__options
        font-size: 30px

        a.active
            text-decoration: underline
        a:hover
            text-decoration: none



// Contact
.contact
    &-form-wrapper
        max-width: 500px
        margin: 50px auto

// Cart
h1.custom-title
    text-align: center
    font-size: 2.15em

.cart
    $self: &;

    &__wrapper
        margin: 50px auto 0 auto

        table
            width: 100%

            tr
                border-bottom: 1px solid #eeeeee
                &:last-child
                    border: 0

                th
                    font-size: 12px
                    padding: 28px 0

                td
                    font-size: 12px
                    padding: 28px 0
                    
                    #{$self}__update
                        width: 130px
                        font-weight: bold
                        float: right

    &__add-to-cart
        width: 130px
        margin: 0 auto
        font-weight: bold

        .text
            padding-left: 5px

    &__image-wrapper
        width: 130px
        @media (max-width: 640px)
            width: auto

    &__image
        width: 90px
        &:hover
            opacity: 0.6
    &__product-name
        padding: 10px 0
        a:hover
            text-decoration: none
            opacity: 0.6
        @media (max-width: 640px)
            padding: 5px
    &__remove
        width: 100px
        color: $red
        &:hover
            color: $red
        
        @media (max-width: 640px)
            padding: 5px
    &__qty-input
        text-align: center
        margin: 0 auto
        width: 60px
        padding: 0 5px
        @media (max-width: 640px)
            margin: 0 5px

    &__footer
        margin: 25px 0

        #{$self}__total-wrapper
            @media (max-width: 640px)
                text-align: center

            #{$self}__total-title
                font-size: 20px
                font-weight: bold

            #{$self}__total
                font-size: 20px
                padding-left: 20px

        #{$self}__checkout-wrapper
            margin: 30px 0

            #{$self}__checkout
                margin: 50px auto
                font-weight: bold
                width: 200px

footer
    background-color: #f2f2f2
    padding: 25px