<div class="container">
    <div class="row">
        <h1>Sorry this page does not exist</h1>
        <h2>The page you are looking for may have been moved or deleted. Check for a mistake in the URL & refresh the page.</h2>
    </div>
</div>