@model MyShop.Models.Product

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Product Management", "Index", "ProductManagement")</li>
                <li class="active">Delete</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Delete</h1><br>
            <h2>Are you sure want to delete this?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="admin__products-wrapper">
                <div class="admin__group">
                    <div class="admin__details">
                        <table class="table">
                            <tr>
                                <td class="admin__label">Product Name</td>
                                <td class="admin__value">Product Name Here</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Category</td>
                                <td class="admin__value">Food</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Product Description</td>
                                <td class="admin__value">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga iste aut a eveniet nesciunt velit quaerat, officiis, quod placeat molestiae sit veritatis. Unde in ullam deserunt, incidunt repellendus veritatis. Quia.</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Price</td>
                                <td class="admin__value">$155.00</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Discounted Price</td>
                                <td class="admin__value">$100.00</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Sales Period Start At</td>
                                <td class="admin__value">2019-09-03 18:00:00</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Sales Period End At</td>
                                <td class="admin__value">2020-09-03 18:00:00</td>
                            </tr>
                            <tr>
                                <td class="admin__label">Stock Quantity</td>
                                <td class="admin__value">1000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="admin__footer-button-wrapper">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <input class="btn btn-default btn-delete" type="submit" value="Delete"><a class="btn btn-default btn-back" href="@Url.Action("Index", "ProductManagement")">Back to list</a>
                }
            </div>
        </div>
    </div>
</div>