.navbar {
  margin-bottom: 0;
  border-radius: 0; }
  .navbar-inverse {
    background-color: #2f333a; }
  .navbar-nav > li > a {
    font-weight: bold;
    color: #FFF; }
    .navbar-nav > li > a:hover {
      color: #e02c2b;
      font-weight: bold;
      transition: all 0.3s ease-out 0s; }
  .navbar .badge {
    background: #e02c2b; }

.jumbotron {
  margin-bottom: 50px; }

.panel {
  box-shadow: none; }

.product__wrapper:hover .product__img .product__action {
  opacity: 1;
  visibility: visible;
  bottom: 12px; }

.product__wrapper:hover img {
  opacity: 0.6; }

.product__wrapper .product__img {
  overflow: hidden;
  position: relative; }
  .product__wrapper .product__img .product__action {
    bottom: -30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0;
    padding: 0 20px;
    position: absolute;
    right: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
    text-transform: uppercase; }
    .product__wrapper .product__img .product__action a span.glyphicon {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none; }
    .product__wrapper .product__img .product__action a span.text {
      font-size: 13px;
      font-weight: 500;
      text-decoration: none;
      margin-left: 5px; }
    .product__wrapper .product__img .product__action a:hover {
      text-decoration: none;
      color: #e02c2b;
      transition: all 0.3s ease-out 0s; }

.product__wrapper .product__details {
  margin-top: 20px; }

.product__thumbnail-wrapper {
  margin: 50px 0; }

.product__details-wrapper {
  margin: 50px 0; }
  .product__details-wrapper .product__name > h4 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }
  .product__details-wrapper .product__price {
    font-size: 20px;
    font-weight: bold; }
    .product__details-wrapper .product__price.discounted {
      text-decoration: line-through; }
  .product__details-wrapper .product__discounted-price {
    font-size: 25px;
    font-weight: bold;
    color: #e02c2b;
    text-decoration: none; }
  .product__details-wrapper .product__qty {
    margin: 10px 0; }
    .product__details-wrapper .product__qty .btn-qty-plus,
    .product__details-wrapper .product__qty .btn-qty-minus {
      margin: 0 10px;
      display: inline; }
    .product__details-wrapper .product__qty input {
      width: 50px;
      text-align: center;
      display: inline; }
  .product__details-wrapper .product__actions {
    margin: 50px 0; }
    .product__details-wrapper .product__actions a {
      width: 200px;
      margin-right: 10px;
      display: inline; }
    .product__details-wrapper .product__actions span.text {
      margin-left: 10px;
      text-transform: uppercase; }

.login__form {
  width: 400px;
  margin: 50px auto; }
  .login__form h2 {
    margin: 0 0 15px; }
  .login__form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px; }

.category__wrapper {
  width: 400px;
  margin: 50px auto; }

.category__options {
  font-size: 30px; }
  .category__options a.active {
    text-decoration: underline; }
  .category__options a:hover {
    text-decoration: none; }

.contact-form-wrapper {
  max-width: 500px;
  margin: 50px auto; }

h1.custom-title {
  text-align: center;
  font-size: 2.15em; }

.cart__wrapper {
  margin: 50px auto 0 auto; }
  .cart__wrapper table {
    width: 100%; }
    .cart__wrapper table tr {
      border-bottom: 1px solid #eeeeee; }
      .cart__wrapper table tr:last-child {
        border: 0; }
      .cart__wrapper table tr th {
        font-size: 12px;
        padding: 28px 0; }
      .cart__wrapper table tr td {
        font-size: 12px;
        padding: 28px 0; }
        .cart__wrapper table tr td .cart__update {
          width: 130px;
          font-weight: bold;
          float: right; }

.cart__image-wrapper {
  width: 130px; }
  @media (max-width: 640px) {
    .cart__image-wrapper {
      width: auto; } }

.cart__image {
  width: 90px; }
  .cart__image:hover {
    opacity: 0.6; }

.cart__product-name {
  padding: 10px 0; }
  .cart__product-name a:hover {
    text-decoration: none;
    opacity: 0.6; }
  @media (max-width: 640px) {
    .cart__product-name {
      padding: 5px; } }

.cart__remove {
  width: 100px;
  color: #e02c2b; }
  .cart__remove:hover {
    color: #e02c2b; }
  @media (max-width: 640px) {
    .cart__remove {
      padding: 5px; } }

.cart__qty-input {
  text-align: center;
  margin: 0 auto;
  width: 60px;
  padding: 0 5px; }
  @media (max-width: 640px) {
    .cart__qty-input {
      margin: 0 5px; } }

.cart__footer {
  margin: 25px 0; }
  @media (max-width: 640px) {
    .cart__footer .cart__total-wrapper {
      text-align: center; } }
  .cart__footer .cart__total-wrapper .cart__total-title {
    font-size: 20px;
    font-weight: bold; }
  .cart__footer .cart__total-wrapper .cart__total {
    font-size: 20px;
    padding-left: 20px; }
  .cart__footer .cart__checkout-wrapper {
    margin: 30px 0; }
    .cart__footer .cart__checkout-wrapper .cart__checkout {
      margin: 50px auto;
      font-weight: bold;
      width: 200px; }

footer {
  background-color: #f2f2f2;
  padding: 25px; }
