.breadcrumb {
  background: none;
  padding-left: 0; }
  .breadcrumb .active {
    color: #333333; }

@font-face {
  font-family: Marcellus;
  src: url("../css/fonts/Marcellus-Regular.ttf"); }

body {
  font-family: Marcellus,sans-serif; }

h2 {
  font-family: Marcellus,sans-serif; }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }
  .navbar-inverse {
    background-color: #2f333a; }
  .navbar-nav > li > a {
    font-weight: bold;
    color: #FFF; }
    .navbar-nav > li > a:hover {
      color: #e02c2b;
      font-weight: bold;
      transition: all 0.3s ease-out 0s; }
  .navbar .badge {
    background: #e02c2b; }

.jumbotron {
  margin-bottom: 50px;
  background: url("/img/common/backdrop-coffee.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s linear 0.5s;
  height: 600px; }
  @media (max-width: 1200px) {
    .jumbotron {
      height: 400px; } }
  @media (max-width: 640px) {
    .jumbotron {
      height: 300px; } }
  .jumbotron h1 {
    color: #ffffff;
    font-family: Marcellus, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #000000;
    font-size: 120px;
    transition: all 0.5s linear 0.5s;
    margin-top: 17%; }
    @media (max-width: 1200px) {
      .jumbotron h1 {
        margin-top: 10%; } }
    @media (max-width: 640px) {
      .jumbotron h1 {
        font-size: 60px;
        margin-top: 15%; } }

.panel {
  box-shadow: none; }

.about__wrapper {
  margin: 50px 0; }

.category__wrapper .category__options {
  background: none;
  padding-left: 0;
  padding: 8px 15px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  border-radius: 4px;
  margin-top: 0; }
  .category__wrapper .category__options li {
    display: inline-block; }
    .category__wrapper .category__options li.active {
      color: #777777; }
    .category__wrapper .category__options li a:hover {
      text-decoration: underline;
      color: #2f333a; }
  .category__wrapper .category__options li + li:before {
    padding: 0 5px;
    color: #2f333a;
    content: "/\00a0"; }

.product__wrapper .onsale {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: auto;
  height: 24px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 7px 10px 0 0;
  z-index: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .product__wrapper .onsale:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 75px 0;
    border-color: transparent #6E5435 transparent transparent;
    z-index: -1; }

.product__wrapper img {
  width: 100%;
  transition: all 0.5s ease; }

.product__wrapper:hover .product__img .product__action {
  opacity: 1;
  visibility: visible;
  bottom: 12px; }

.product__wrapper:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.product__wrapper .product__img {
  overflow: hidden;
  position: relative; }
  .product__wrapper .product__img .product__action {
    bottom: -30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0;
    padding: 0 20px;
    position: absolute;
    right: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
    text-transform: uppercase; }
    .product__wrapper .product__img .product__action button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      background: rgba(210, 210, 210, 0.5);
      padding: 5px 10px;
      border-radius: 7px; }
      .product__wrapper .product__img .product__action button:focus {
        color: #666666; }
      .product__wrapper .product__img .product__action button span.glyphicon {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none; }
      .product__wrapper .product__img .product__action button span.text {
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 5px;
        text-transform: uppercase; }
      .product__wrapper .product__img .product__action button:hover {
        text-decoration: none;
        color: #e02c2b;
        transition: all 0.3s ease-out 0s; }

.product__wrapper .product__details {
  margin-top: 20px; }
  .product__wrapper .product__details p:first-child {
    font-weight: bold; }
  .product__wrapper .product__details p .line_through {
    text-decoration: line-through; }
  .product__wrapper .product__details p .discounted_price {
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    color: #e02c2b; }

.product__thumbnail-wrapper {
  margin: 50px 0; }

.product__details-wrapper {
  margin: 50px 0; }
  .product__details-wrapper .product__name > h4 {
    font-family: Marcellus,sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }
  .product__details-wrapper .product__price {
    font-size: 20px;
    font-weight: bold; }
    .product__details-wrapper .product__price.discounted {
      text-decoration: line-through; }
  .product__details-wrapper .product__discounted-price {
    font-size: 25px;
    font-weight: bold;
    color: #e02c2b;
    text-decoration: none; }
  .product__details-wrapper .product__qty {
    margin: 10px 0; }
    .product__details-wrapper .product__qty .btn-qty-plus,
    .product__details-wrapper .product__qty .btn-qty-minus {
      margin: 0 10px;
      display: inline; }
    .product__details-wrapper .product__qty input {
      width: 50px;
      text-align: center;
      display: inline; }
  .product__details-wrapper .product__actions {
    margin: 50px 0; }
    .product__details-wrapper .product__actions a {
      width: 200px;
      margin-right: 10px;
      display: inline; }
      @media (max-width: 1200px) {
        .product__details-wrapper .product__actions a {
          width: 100%;
          display: block;
          text-align: center;
          margin: 20px 0; } }
    .product__details-wrapper .product__actions span.text {
      margin-left: 10px;
      text-transform: uppercase; }
  .product__details-wrapper .product__button {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 5px;
    background: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #2f333a;
    transition: 0.5s; }
    .product__details-wrapper .product__button:hover {
      text-decoration: none;
      background: #2f333a;
      color: #ffffff; }
    .product__details-wrapper .product__button:focus {
      outline: none; }

.register__wrapper {
  margin: 50px 0;
  height: 500px;
  background: #2f333a; }
  .register__wrapper .register__part {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 120px 40px;
    display: table; }
    .register__wrapper .register__part h2 {
      font-weight: bold; }
    .register__wrapper .register__part .register__button {
      text-transform: uppercase;
      font-weight: bold;
      margin: 20px 5px;
      background: none;
      padding: 10px 30px;
      border-radius: 30px;
      border: 1px solid #ffffff;
      transition: 0.5s; }
      .register__wrapper .register__part .register__button:hover {
        text-decoration: none;
        background: #ffffff;
        color: #2f333a; }
      .register__wrapper .register__part .register__button:focus {
        outline: none; }

.login__wrapper {
  margin: 50px 0;
  height: 500px;
  background: none; }
  .login__wrapper .login__part {
    color: #2f333a;
    margin: 0 auto;
    text-align: center;
    padding: 80px 30px; }
    .login__wrapper .login__part h2 {
      text-align: left;
      font-weight: bold;
      margin-bottom: 50px; }
    .login__wrapper .login__part .login__username,
    .login__wrapper .login__part .login__password {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #ddd;
      padding: 10px 5px;
      margin: 10px 0;
      box-shadow: none; }
      .login__wrapper .login__part .login__username:focus,
      .login__wrapper .login__part .login__password:focus {
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none; }
    .login__wrapper .login__part .login__button {
      text-transform: uppercase;
      font-weight: bold;
      margin: 20px 5px;
      background: none;
      padding: 10px 30px;
      border-radius: 30px;
      border: 1px solid #2f333a;
      transition: 0.5s; }
      .login__wrapper .login__part .login__button:hover {
        text-decoration: none;
        background: #2f333a;
        color: #ffffff; }
      .login__wrapper .login__part .login__button:focus {
        outline: none; }

.registration__wrapper {
  margin: 50px auto;
  width: 600px; }
  @media (max-width: 640px) {
    .registration__wrapper {
      width: auto; } }
  .registration__wrapper h2 {
    font-weight: bold;
    margin-bottom: 50px; }
  .registration__wrapper .registration__button {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 5px;
    background: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #2f333a;
    transition: 0.5s; }
    .registration__wrapper .registration__button:hover {
      text-decoration: none;
      background: #2f333a;
      color: #ffffff; }
    .registration__wrapper .registration__button:focus {
      outline: none; }
  .registration__wrapper .registration__input-field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    margin: 10px 0;
    box-shadow: none; }
    .registration__wrapper .registration__input-field:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none; }
  .registration__wrapper .registration__icon-wrapper {
    width: 100%;
    text-align: center;
    font-size: 150px;
    color: green; }
  .registration__wrapper .registration__text {
    text-align: center; }
    .registration__wrapper .registration__text.large {
      font-size: 50px;
      font-weight: bold; }
    .registration__wrapper .registration__text.small {
      font-size: 25px; }

.category__wrapper {
  width: 400px;
  margin: 50px auto;
  margin-bottom: 30px; }

.category__options {
  font-size: 30px; }
  .category__options a.active {
    text-decoration: underline; }
  .category__options a:hover {
    text-decoration: none; }

.search__wrapper {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 30px; }
  .search__wrapper input {
    border-radius: 4px 0 0 4px !important; }
    .search__wrapper input:focus {
      outline: none;
      box-shadow: none;
      border-color: #ccc; }

.contact__list-wrapper {
  margin: 50px 0; }

.contact__wrapper {
  max-width: 500px;
  margin: 50px auto; }
  .contact__wrapper .contact__input-field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    margin: 10px 0;
    box-shadow: none; }
    .contact__wrapper .contact__input-field:focus {
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none; }
  .contact__wrapper textarea {
    height: 150px;
    resize: none; }
  .contact__wrapper .contact__button {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 5px;
    background: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #2f333a;
    transition: 0.5s; }
    .contact__wrapper .contact__button:hover {
      text-decoration: none;
      background: #2f333a;
      color: #ffffff; }
    .contact__wrapper .contact__button:focus {
      outline: none; }

h1.custom-title {
  text-align: center;
  font-size: 2.15em; }

.cart__wrapper {
  min-height: 400px;
  margin: 50px auto 0 auto; }
  .cart__wrapper table {
    width: 100%; }
    .cart__wrapper table tr {
      border-bottom: 1px solid #eeeeee; }
      .cart__wrapper table tr:last-child {
        border: 0; }
      .cart__wrapper table tr th {
        font-size: 12px;
        padding: 28px 0; }
      .cart__wrapper table tr td {
        font-size: 12px;
        padding: 28px 0; }
        .cart__wrapper table tr td .cart__update {
          width: 130px;
          font-weight: bold;
          float: right; }
        .cart__wrapper table tr td select[name="quantity"] {
          width: auto !important;
          margin: 0 auto; }

.cart__add-to-cart {
  width: 130px;
  margin: 0 auto;
  font-weight: bold; }
  .cart__add-to-cart .text {
    padding-left: 5px; }

.cart__image-wrapper {
  width: 130px; }
  @media (max-width: 640px) {
    .cart__image-wrapper {
      width: auto; } }

.cart__image {
  width: 90px; }
  .cart__image:hover {
    opacity: 0.6; }

.cart__product-name {
  padding: 10px 0; }
  .cart__product-name a:hover {
    text-decoration: none;
    opacity: 0.6; }
  @media (max-width: 640px) {
    .cart__product-name {
      padding: 5px; } }

.cart__remove {
  width: 100px;
  color: #e02c2b; }
  .cart__remove:hover {
    color: #e02c2b; }
  @media (max-width: 640px) {
    .cart__remove {
      padding: 5px; } }

.cart__qty-input {
  text-align: center;
  margin: 0 auto;
  width: 60px;
  padding: 0 5px; }
  @media (max-width: 640px) {
    .cart__qty-input {
      margin: 0 5px; } }

.cart__button-wrapper {
  margin: 50px 0;
  text-align: center; }

.cart__button {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 5px;
  background: none;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #2f333a;
  transition: 0.5s; }
  .cart__button:hover {
    text-decoration: none;
    background: #2f333a;
    color: #ffffff; }
  .cart__button:focus {
    outline: none; }

.cart__footer {
  margin: 25px 0; }
  @media (max-width: 640px) {
    .cart__footer .cart__total-wrapper {
      text-align: center; } }
  .cart__footer .cart__total-wrapper .cart__total-title {
    font-size: 20px;
    font-weight: bold; }
  .cart__footer .cart__total-wrapper .cart__total {
    font-size: 20px;
    padding-left: 20px; }
  .cart__footer .cart__checkout-wrapper {
    margin: 30px 0; }
    .cart__footer .cart__checkout-wrapper .cart__checkout {
      margin: 50px auto;
      font-weight: bold;
      width: 200px; }

.account__details-wrapper {
  margin: 50px 0;
  border: 1px solid #eeeeee; }
  .account__details-wrapper .account__group {
    width: 300px;
    margin: 30px auto; }
    .account__details-wrapper .account__group .account__label {
      font-size: 12px;
      font-weight: bold; }
    .account__details-wrapper .account__group .account__value {
      font-size: 12px; }

.account__purchase-history-wrapper {
  margin: 50px 0; }
  .account__purchase-history-wrapper .account__group .account__heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .account__purchase-history-wrapper .account__group .account__record {
    font-size: 12px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer; }
    .account__purchase-history-wrapper .account__group .account__record:nth-child(even) {
      background: #eeeeee; }
    .account__purchase-history-wrapper .account__group .account__record .account__sub-group {
      display: inline-block;
      vertical-align: middle; }
      .account__purchase-history-wrapper .account__group .account__record .account__sub-group.left {
        width: 80%; }
      .account__purchase-history-wrapper .account__group .account__record .account__sub-group.right {
        width: 18%; }

.admin__menu-wrapper {
  margin: 50px 0; }
  .admin__menu-wrapper .admin__menu-item .admin__menu-item-group {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    font-size: 14px; }
    .admin__menu-wrapper .admin__menu-item .admin__menu-item-group .badge {
      margin-left: 5px; }
    .admin__menu-wrapper .admin__menu-item .admin__menu-item-group a:hover {
      color: #2f333a; }

.admin__orders-wrapper {
  margin: 50px 0; }
  .admin__orders-wrapper .admin__group .admin__heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .admin__orders-wrapper .admin__group .admin__record {
    font-size: 12px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer; }
    .admin__orders-wrapper .admin__group .admin__record:nth-child(even) {
      background: #eeeeee; }
    .admin__orders-wrapper .admin__group .admin__record .admin__sub-group {
      display: inline-block;
      vertical-align: middle; }
      .admin__orders-wrapper .admin__group .admin__record .admin__sub-group.left {
        width: 80%; }
      .admin__orders-wrapper .admin__group .admin__record .admin__sub-group.right {
        width: 18%; }

.admin__products-wrapper {
  margin: 20px 0; }
  .admin__products-wrapper .admin__group .admin__heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .admin__products-wrapper .admin__group .admin__record {
    font-size: 12px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer; }
    .admin__products-wrapper .admin__group .admin__record:nth-child(even) {
      background: #eeeeee; }
    .admin__products-wrapper .admin__group .admin__record .admin__sub-group {
      display: inline-block;
      vertical-align: middle; }
      .admin__products-wrapper .admin__group .admin__record .admin__sub-group.left {
        width: 10%;
        padding-right: 10px; }
        .admin__products-wrapper .admin__group .admin__record .admin__sub-group.left img {
          width: 100%;
          border-radius: 50px; }
      .admin__products-wrapper .admin__group .admin__record .admin__sub-group.middle {
        width: 68%; }
      .admin__products-wrapper .admin__group .admin__record .admin__sub-group.right {
        width: 20%; }
  .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td {
    border: 0; }
    .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__label {
      font-weight: bold;
      width: 20%; }
    .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__value {
      width: 80%; }
      .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__value .thumbnail {
        max-width: 570px; }
  @media (max-width: 640px) {
    .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td {
      display: block; }
      .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__label, .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__value {
        width: 100%; }
        .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__label .thumbnail, .admin__products-wrapper .admin__group .admin__details table > tbody > tr > td.admin__value .thumbnail {
          max-width: 570px; } }
  .admin__products-wrapper .btn-create {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 5px;
    background: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #2f333a;
    transition: 0.5s;
    margin: 0; }
    .admin__products-wrapper .btn-create:hover {
      text-decoration: none;
      background: #2f333a;
      color: #ffffff; }
    .admin__products-wrapper .btn-create:focus {
      outline: none; }
  .admin__products-wrapper .btn-action {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 16px;
    margin: 0 5px; }
    .admin__products-wrapper .btn-action:focus {
      color: #666666; }

.admin__pagination-wrapper .pagination > li > a,
.admin__pagination-wrapper .pagination > li > span {
  color: #2f333a; }

.admin__pagination-wrapper .pagination > .active > a,
.admin__pagination-wrapper .pagination > .active > a:focus,
.admin__pagination-wrapper .pagination > .active > a:hover,
.admin__pagination-wrapper .pagination > .active > span,
.admin__pagination-wrapper .pagination > .active > span:focus,
.admin__pagination-wrapper .pagination > .active > span:hover {
  background-color: #2f333a;
  border-color: #2f333a;
  color: #fff; }

.admin__order-customer-details-wrapper {
  margin: 50px 0 0 0;
  font-size: 14px; }
  .admin__order-customer-details-wrapper .admin__order-group {
    margin-bottom: 10px; }
    .admin__order-customer-details-wrapper .admin__order-group label {
      font-weight: bold; }
      .admin__order-customer-details-wrapper .admin__order-group label.heading {
        font-size: 30px; }
    .admin__order-customer-details-wrapper .admin__order-group span {
      padding-left: 10px; }

.admin__footer-button-wrapper {
  margin-bottom: 50px; }
  .admin__footer-button-wrapper .btn-create,
  .admin__footer-button-wrapper .btn-save,
  .admin__footer-button-wrapper .btn-delete,
  .admin__footer-button-wrapper .btn-back {
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 5px;
    background: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #2f333a;
    transition: 0.5s; }
    .admin__footer-button-wrapper .btn-create:hover,
    .admin__footer-button-wrapper .btn-save:hover,
    .admin__footer-button-wrapper .btn-delete:hover,
    .admin__footer-button-wrapper .btn-back:hover {
      text-decoration: none;
      background: #2f333a;
      color: #ffffff; }
    .admin__footer-button-wrapper .btn-create:focus,
    .admin__footer-button-wrapper .btn-save:focus,
    .admin__footer-button-wrapper .btn-delete:focus,
    .admin__footer-button-wrapper .btn-back:focus {
      outline: none; }

footer {
  background: url("../img/common/footer-top-img.jpg") no-repeat center center;
  padding: 25px; }
  footer .myfooter__top-inner {
    padding: 80px 0;
    color: #ffffff; }
    footer .myfooter__top-inner h2, footer .myfooter__top-inner h3 {
      font-size: 40px;
      font-family: Marcellus,sans-serif;
      text-transform: uppercase; }
    footer .myfooter__top-inner .quote {
      width: 50%;
      margin: 0 auto;
      padding: 30px 0; }
  footer .myfooter__copyright {
    margin-top: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px; }
  footer .myfooter__link {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff; }
    footer .myfooter__link:hover {
      color: #ffffff;
      text-decoration: underline; }

#checkoutModal .modal-body button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 72px; }
  #checkoutModal .modal-body button:focus {
    color: #666666; }

#checkoutModal .modal-body .table-selection {
  display: none; }
  #checkoutModal .modal-body .table-selection select {
    width: auto;
    margin: 0 auto; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 200px; }
  .dl-horizontal dd {
    margin-left: 230px; } }

.hide-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
