<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                <li class="active">Product Management</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="admin__products-wrapper">
                <div class="admin__group">
                    <div class="admin__heading">Product Management</div>
                </div>
                <div class="admin__group"><a class="btn btn-default btn-create" href="@Url.Action("Product", "Admin", new { act = "create" })">Create Product</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="admin__products-wrapper">
                <div class="admin__group" id="product_list">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    <div class="admin__record" data-product_id="{{ id }}">
        <div class="admin__sub-group left"><img src="{{ file_path }}" alt="{{ product_name }}" title="{{ product_name }}"></div>
        <div class="admin__sub-group middle">
            <div class="admin__text"><b>{{ product_name }}</b></div>
            <div class="admin__text">Price: {{ price }}</div>
            <div class="admin__text">Last modified at: {{ last_modifited_at }}</div>
        </div>
        <div class="admin__sub-group right">
            <div class="admin__text text-right">
                <a class="btn-action" href="/Admin/Product/{{ id }}/?act=details" title="Details"><span class="glyphicon glyphicon-list"></span></a>
                <a class="btn-action" href="/Admin/Product/{{ id }}/?act=edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                @*<a class="btn-action" href="/Admin/Product/{{ id }}/?act=delete" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>*@
            </div>
        </div>
    </div>
</script>

@section Scripts{
@Scripts.Render("~/bundles/mustache")
<script>
    $(function () {

        var template = $('#template').html();
        Mustache.parse(template);

        $('body').on('click', '.admin__record', function (e) {
            e.isPropagationStopped();

            var _Id = $(this).attr('data-product_id');

            window.location.href = "/Admin/Product/" + _Id + "/?act=details";
        })

        function getProducts() {
            $.ajax({
                url: "/api/Products",
                method: "get",
                data: {
                    is_admin_panel: true
                },
                statusCode: {
                    200: function (response) {

                        var rendered = "";;

                        $.each(response.products, function (index, item) {
                            rendered += Mustache.render(template, {
                                id: item.product_id,
                                product_name: item.product_name,
                                price: item.price,
                                stock: item.stock,
                                file_path: item.file_path,
                                last_modifited_at: item.last_modifited_at
                            });
                        });
                        $('.admin__products-wrapper #product_list').html(rendered);
                    }
                }
            });
        }

        getProducts();
    })
</script>
}
