<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">About Us</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="about__wrapper">
                <div class="row">
                    <div class="col-sm-6 col-xs-12"><img class="img-responsive" src="~/img/common/backdrop-aboutus.jpg" alt="Image" title="Product Image"></div>
                    <div class="col-sm-6 col-xs-12">
                        <p>We are excited to introduce our Coffee Shop & Cafe. If you crave great coffee, you’ll love to know that we provide a real alternative to chains with handcrafted coffee and espresso drinks, a full tea bar, and real food options.</p>
                        <p>Our local baristas know that great espresso takes more than pushing a button. We work hard to deliver great taste while providing knowledgeable service, perfect if you just want to try something new.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>