<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="about__wrapper">
                <div class="row">
                    <div class="col-sm-6 col-xs-12"><img class="img-responsive" src="https://placehold.it/570x570?text=IMAGE" alt="Image" title="Product Image"></div>
                    <div class="col-sm-6 col-xs-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolore sed minus tempora nihil illum harum fuga quas vitae, veritatis, recusandae possimus modi sequi. Dolorem corrupti ut minus quod facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, vitae! Tenetur quis doloribus, reprehenderit numquam ad commodi dolor facilis vitae, voluptatibus cupiditate, ut modi illo! Quidem necessitatibus aliquid dolores maxime.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolore sed minus tempora nihil illum harum fuga quas vitae, veritatis, recusandae possimus modi sequi. Dolorem corrupti ut minus quod facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, vitae! Tenetur quis doloribus, reprehenderit numquam ad commodi dolor facilis vitae, voluptatibus cupiditate, ut modi illo! Quidem necessitatibus aliquid dolores maxime.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolore sed minus tempora nihil illum harum fuga quas vitae, veritatis, recusandae possimus modi sequi. Dolorem corrupti ut minus quod facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, vitae! Tenetur quis doloribus, reprehenderit numquam ad commodi dolor facilis vitae, voluptatibus cupiditate, ut modi illo! Quidem necessitatibus aliquid dolores maxime.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>