<div class="container">
    <div class="row" id="product_list">
        <!-- Load Products by JS -->
    </div>
</div>

<script id="template" type="x-tmpl-mustache">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <div class="product__wrapper">
                    <div class="product__img">
                        <a href="{{ product_url }}"><img class="img-responsive" src="{{ file_path }}" alt="{{ product_name }}" title="{{ product_name }}"></a>
                        <div class="product__action">
                            <div class="product__action-left"><button type="button" title="Add to cart" aria-label="Add to cart" class="btn-addToCart" data-productid="{{ product_id }}" data-quantitydefault="true"> @*<span class="glyphicon glyphicon-shopping-cart"> </span>*@<span class="text">Add to cart</span></button></div>
                            <div class="product__action-right"><button type="button" class="btn-details" data-url="{{ product_url }}"> <span class="glyphicon glyphicon-new-window"></span></button></div>
                        </div>
                    </div>
                    <div class="product__details">
                        <p><a href="{{ product_url }}" target="_blank" title="Visit Product Details">{{ product_name }}</a></p>
                        <p>{{ price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@Html.AntiForgeryToken()

@section Scripts{
    @Scripts.Render("~/bundles/mustache")
    <script>
        $(function () {

            var template = $('#template').html();
            Mustache.parse(template);

            $('body').on('click', '.btn-details', function () {
                window.location.href = $(this).attr('data-url');
            });

            $('body').on('click', '.btn-addToCart', function () {
                var _ProductID = $(this).attr('data-ProductID'),
                    _Quantity = ($(this).attr('data-QuantityDefault') == "true") ? 1 : $('select[name="product_quantity"] option:selected').val();

                $.ajax({
                    url: "/api/Order",
                    method: "POST",
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        ProductID: _ProductID,
                        Quantity: _Quantity
                    },
                    dataType: "JSON",
                    statusCode: {
                        200: function (response) {
                            $('#messageModal .modal-body p').text(response.Message)
                            $('#messageModal').modal('show');
                        }
                    }
                });
            });

            $.ajax({
                url: "/api/Products",
                method: "GET",
                statusCode: {
                    200: function (response) {

                        var html = "";

                        $.each(response.products, function (index, value) {
                            html += Mustache.render(template, {
                                product_id: value.product_id,
                                product_url: "/Product/Details/" + value.product_id,
                                product_name: value.product_name,
                                price: value.price,
                                file_path: value.file_path
                            });
                        });

                        $('#product_list').html(html);
                    }
                }
            });

        })
    </script>
}
