@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Product List</h1>

@Html.AntiForgeryToken();

@section Scripts
{
    <script>
        $(function () {

            function getProductById(id) {

                $.ajax({
                    url: "/api/Products/" + id,
                    method: "GET",
                    dataType: "json",
                    success: function (response) {
                        console.log(response)
                    }
                })
            };

            getProductById(@ViewBag.Id);

            $.ajax({
                //url: "/api/Products/@ViewBag.Id",
                url: "/Admin/CreateProduct",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                method: "POST",
                dataType: "json",
                data: {
                    ProductName: "Dummy Item",
                    ProductDescription: "AAA",
                    CategoryID: 2,
                    Price: 33,
                    DiscountedPrice: 22,
                    SalesPeriodStartAt: "2019-03-03",
                    SalesPeriodEndAt: "2020-03-03",
                    StockQuantity: 999,
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

                },
                success: function (response) {
                    console.log(response)
                    getProductById(@ViewBag.Id);
                }
            });

        });
    </script>
}