extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li.active Account

    .container
        .row
            .col-xs-12.col-sm-4
                .account__details-wrapper
                    .account__group
                        .account__label Username:
                        .account__value username0123
                    .account__group
                        .account__label Email:
                        .account__value example@example.com
                    .account__group
                        .account__label Phone:
                        .account__value 99956789
            .col-xs-12.col-sm-8
                .account__purchase-history-wrapper
                    .account__group
                        .account__heading Purchase History
                    .account__group
                        - for( var n = 1; n <= 5; n++){
                            .account__record
                                .account__sub-group.left
                                    .account__text
                                        b Order No. : INV00000#{n}
                                    .account__text Transaction Status: Payment Successful
                                    .account__text Order Date: 2019/11/06
                                    .account__text Amount: $1000.00
                                .account__sub-group.right
                                    .account__text.text-right
                                        a(href="./purchase_history_details.html")
                                            span.glyphicon.glyphicon-menu-right
                        - }

                


