extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li.active Product Management

    .container
        .row
            .col-xs-12
                .admin__products-wrapper
                    .admin__group
                        .admin__heading Product Management
                    .admin__group
                        a.btn.btn-default.btn-create(href="#") Create Product
        .row                    
            .col-xs-12
                .admin__products-wrapper
                    .admin__group
                        - for( var n = 1; n <= 5; n++){
                            .admin__record
                                .admin__sub-group.left
                                    .admin__text
                                        b Product #{n}
                                    .admin__text Price: $50.00
                                    .admin__text Stock: 100
                                .admin__sub-group.right
                                    .admin__text.text-right
                                        a.btn-action(href="./admin_order_details.html")
                                            span.glyphicon.glyphicon-list
                                        a.btn-action(href="./admin_order_details.html")
                                            span.glyphicon.glyphicon-edit
                                        a.btn-action(href="./admin_order_details.html")
                                            span.glyphicon.glyphicon-trash
                        - }
                .admin__pagination-wrapper
                    .admin__group.text-center
                        nav(aria-label="...")
                            ul.pagination
                                li.disabled
                                    a(href="#", aria-label="Previous")
                                        span(aria-hidden="true") &laquo;
                                li.active
                                    a(href="#") 1
                                        span.sr-only (current)
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#", aria-label="Next")
                                        span(aria-hidden="true") &raquo;

                


