extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li.active Cart

    .container
        .row
            .col-xs-12
                .registration__wrapper.text-center
                    .registration__icon-wrapper
                        span.glyphicon.glyphicon-ok-circle

                    .registration__text.large
                        span Thank You!
                    
                    br
                    br
                    a.registration__button(href="./") Home


