extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li.active Cart

    .container
        .row
            .col-xs-12
                h1.custom-title Your Cart
        .row
            .col-xs-12
                .cart__wrapper
                    table
                        thead
                            tr
                                th.text-left(colspan="2") Product
                                th.text-left Price
                                th.text-center Quanity
                                th.text-right Total
                        tbody
                            tr
                                td.text-center(colspan="5")
                                    h2 Your cart is empty
                            //- - for(var n = 0; n < 4; n++){
                            //- tr
                            //-     td.cart__image-wrapper
                            //-         a(href="#")
                            //-             img.cart__image(src="https://placehold.it/570x570?text=IMAGE", alt="Image", title="Product Image")
                            //-     td.text-left 
                            //-         .cart__product-name 
                            //-             a(href="#") Product Name Here Product Name Here
                            //-         p
                            //-             a.cart__remove(href="#") Remove

                            //-     td.text-left.cart__unit-price $200.00
                            //-     td.text-center
                            //-         select.form-control(name="quantity")
                            //-             - for(var n = 1; n < 100; n++){
                            //-                 option(value=n) #{n}
                            //-             - }
                            //-         //- input.cart__qty-input.form-control(type="number", name="quantity", value="1", min="1")
                            //-     td.text-right.cart__product-total $200.00
                            //- - }
                        tfoot
                            tr
                                td.text-right(colspan="5")
                                    a.cart__button(href="#") Empty Cart
                                    a.cart__button(href="#") Update Cart

        
        .row
            .col-xs-12
                .cart__footer.text-right
                    .cart__total-wrapper
                        span.cart__total-title Total
                        span.cart__total $800.00
                    .cart__checkout-wrapper.text-center
                        a.cart__button(href="javascript:void(0)", data-toggle="modal", data-target="#checkoutModal") Proceed to Checkout

    #checkoutModal.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                .modal-body
                    .row
                        .col-xs-6.text-center
                            a.btn-option(href="javascript:void(0)", data-value="eathere")
                                span.glyphicon.glyphicon-cutlery
                            p Eat Here
                        .col-xs-6.text-center
                            a.btn-option(href="javascript:void(0)", data-value="takeaway")
                                span.glyphicon.glyphicon-glass
                            p Take Away
                    .row.table-selection
                        .col-xs-12.text-center
                            p Select your table number:
                        .col-xs-12.text-center
                            select.form-control(name="table_no")
                                - for(var n = 1; n <10; n++){
                                    option(value=n) #{n}
                                - }
                .modal-footer
                    .row
                        .col-xs-12.text-center
                            button.btn.btn-default.btn-submit(type="button", disabled="disabled") Checkout


