extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li.active Contact

    .container
        .row
            .col-xs-12
                .contact__wrapper
                    form(action="#", method="post")
                        .row
                            .col-xs-12
                                h2 Get in touch
                        .row
                            .col-xs-6
                                .form-group
                                    input.form-control.contact__input-field(type="text", name="first_name", placeholder="First Name")
                            .col-xs-6
                                .form-group
                                    input.form-control.contact__input-field(type="text", name="last_name", placeholder="Last Name")
                        .row
                            .col-xs-12
                                .form-group
                                    input.form-control.contact__input-field(type="text", name="email", placeholder="Email")
                        .row
                            .col-xs-12
                                .form-group
                                    input.form-control.contact__input-field(type="text", name="subject", placeholder="Subject")
                        .row
                            .col-xs-12
                                .form-group
                                    textarea.form-control.contact__input-field(name="message", placeholder="Message")
                        .row
                            .col-xs-12.text-center
                                .form-group
                                    input.contact__button(type="submit", name="contact_submit", value="Send Message")

