extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet
    
    .container
        .row
            - for( var count = 0; count < 8; count++){
            .col-md-4.col-sm-6.col-xs-12
                .panel
                    .panel-body
                        .product__wrapper
                            .product__img
                                a(href="./product_details.html")
                                    img.img-responsive(src="https://placehold.it/570x570?text=IMAGE", style="width:100%;", alt="Image")
                                .product__action
                                    .product__action-left
                                        a(href="#", title="Add to cart") 
                                            span.glyphicon.glyphicon-shopping-cart 
                                            span.text Add to cart
                                    .product__action-right
                                        a(href="#") 
                                            span.glyphicon.glyphicon-heart-empty
                                        a(href="./product_details.html") 
                                            span.glyphicon.glyphicon-eye-open
                            .product__details
                                p Product Name
                                p $100.00
                                p In stock
            - }