extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Prince Cafe
    
    .container
        .row
            - for( var count = 0; count < 8; count++){
            .col-md-4.col-sm-6.col-xs-12
                .panel
                    .panel-body
                        .product__wrapper
                            .product__img
                                a(href="./product_details.html")
                                    span.onsale Sale
                                    img.img-responsive(src="https://placehold.it/570x570?text=IMAGE", alt="Image", title="Product Image")
                                .product__action
                                    .product__action-left
                                        button(href="#", title="Add to cart", aria-label="Add to cart") 
                                            //- span.glyphicon.glyphicon-shopping-cart 
                                            span.text Add to cart
                                    .product__action-right
                                        button(href="#", title="Add to wishlist", aria-label="Add to wishlist") 
                                            span.glyphicon.glyphicon-heart-empty
                                        button(href="./product_details.html", title="Product Details", aria-label="Product Details") 
                                            span.glyphicon.glyphicon-new-window
                            .product__details
                                p Product Name
                                p $100.00
                                p In stock
            - }