doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="language", content="zh-hk")
        meta(name="Country", content="hk")
        meta(name="robots", content="follow, index")
        link(rel="stylesheet", href="css/vendor/bootstrap.min.css")        
        link(rel="stylesheet", href="css/vendor/w3.css")   
        link(rel="stylesheet", href="css/layout.css")   

        title Cake Shop
    body

        include nav.pug

        block content

        include footer.pug

        script(src="js/libs/jquery.min.js")
        script(src="js/libs/bootstrap.min.js")
        script(src="js/app.js")