extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                a(href="#") Home
                |  / Login

    .container
        .row
            .col-sm-6
                .register__wrapper
                    .register__part
                        h2 New to our Shop?
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, libero sed. Eveniet voluptatem numquam harum quisquam. Similique et rerum molestiae magnam esse suscipit itaque unde cumque natus, amet eveniet vitae.
                        br
                        a.register__button(href="#") Create an account
            .col-sm-6
                .login__form

    .container
        .row
            .col-xs-12.text-center
                .login__form
                    form(action="#", method="post")
                        h2.text-center Login
                        .form-group
                            input.form-control(type="text", name="username", placeholder="Username", required="required")
                        .form-group
                            input.form-control(type="password", name="password", placeholder="Password", required="required")
                        .form-group
                            button.btn.btn-primary.btn-block(type="submit") Login
                        .form-group
                            p Don't have account? 
                                a(href="#") Create now

