extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                a(href="#") Home
                |  / Login

    .container
        .row
            .col-sm-6
                .register__wrapper
                    .register__part
                        h2 New to our Shop?
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, libero sed. Eveniet voluptatem numquam harum quisquam. Similique et rerum molestiae magnam esse suscipit itaque unde cumque natus, amet eveniet vitae.
                        br
                        a.register__button(href="./registration.html") Create an account
            .col-sm-6
                .login__wrapper
                    .login__part
                        h2 Welcome Back!<br>Please Sign in now
                        form(action="#", method="post")
                            input.form-control.login__username(type="text", name="username", placeholder="Username")
                            input.form-control.login__password(type="password", name="password", placeholder="Password")
                            input.login__button(type="submit", name="login", value="login")
