extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li
                        a(href="./products.html") Product
                    li.active Product Details

    .container 
        .row
            .col-sm-6.col-xs-12
                .product__thumbnail-wrapper
                    img.img-responsive(src="https://placehold.it/570x570?text=IMAGE", style="width:100%;", alt="Image")

            .col-sm-6.col-xs-12
                .product__details-wrapper
                    .product__name 
                        h4 Product Name Here
                    .product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, recusandae fugiat in facilis error consectetur ipsam odit, necessitatibus porro accusamus fuga asperiores soluta illo nobis quos sunt corrupti laudantium omnis.
                    .product__price.discounted
                        span.value $200.00
                    .product__discounted-price 
                        span.value $100.00
                    .product__available-status 
                        span.value Available: In Stock
                    .product__qty
                        label(for="product_quantity") Quantity: 
                        select.form-control(name="product_quantity", id="product_quantity", style="width:auto")
                            - for(var n = 1; n < 100; n++){
                                option(value=n) #{n}
                            - }                        
                    .product__actions
                        button.product__button
                            span.glyphicon.glyphicon-shopping-cart
                            span.text Add to cart
                        button.product__button
                            span.glyphicon.glyphicon-heart-empty
                            span.text Add to wishlist

    .container
        .row
            .col-xs-12
                h2 Related Products

        .row
            - for( var count = 0; count < 4; count++){
            .col-md-3.col-sm-6.col-xs-12
                .panel
                    .panel-body
                        .product__wrapper
                            .product__img
                                a(href="./product_details.html")
                                    img.img-responsive(src="https://placehold.it/570x570?text=IMAGE", style="width:100%;", alt="Image")
                                .product__action
                                    .product__action-left
                                        button(href="#", title="Add to cart", aria-label="Add to cart") 
                                            span.glyphicon.glyphicon-shopping-cart 
                                            span.text Add to cart
                                    .product__action-right
                                        button(href="#", title="Add to wishlist", aria-label="Add to wishlist") 
                                            span.glyphicon.glyphicon-heart-empty
                                        button(href="./product_details.html", title="Product Details", aria-label="Product Details") 
                                            span.glyphicon.glyphicon-new-window
                            .product__details
                                p Product Name
                                p $100.00
                                p In stock
            - }