extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                ol.breadcrumb
                    li
                        a(href="./") Home
                    li.active Products
    .container
        .row
            .col-xs-12
                .category__wrapper
                    ol.category__options
                        li.active All
                        li
                            a(href="#") Food
                        li
                            a(href="#") Drink

        .row
            .col-xs-12
                .search__wrapper.input-group
                    label.hide-element(for="keyword")
                    input.form-control(type="text", name="keyword", id="keyword" placeholder="Search for...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            span.glyphicon.glyphicon-search(aria-hidden="true")
    
    .container 
        .row
            - for( var count = 0; count < 18; count++){
            .col-md-4.col-sm-6.col-xs-12
                .panel
                    .panel-body
                        .product__wrapper
                            .product__img
                                a(href="./product_details.html")
                                    img.img-responsive(src="https://placehold.it/150x150?text=IMAGE", style="width:100%;", alt="Image")
                                .product__action
                                    .product__action-left
                                        button(href="#", title="Add to cart", aria-label="Add to cart") 
                                            //- span.glyphicon.glyphicon-shopping-cart 
                                            span.text Add to cart
                                    .product__action-right
                                        //- button(href="#", title="Add to wishlist", aria-label="Add to wishlist") 
                                        //-     span.glyphicon.glyphicon-heart-empty
                                        button(href="./product_details.html", title="Product Details", aria-label="Product Details") 
                                            span.glyphicon.glyphicon-new-window
                            .product__details
                                p Product Name
                                p
                                    span.line_through $100.00
                                    span.discounted_price $50.00
                                p In stock
            - }