extends layout.pug

block content
    .jumbotron
        .container.text-center
            h1 Cake Shop
            p Fat and Sweet

    .container
        .row
            .col-xs-12
                a(href="#") Home
                |  / Wishlist

    .container
        .row
            .col-xs-12
                h1.custom-title Your Wishlist
        .row
            .col-xs-12
                .cart__wrapper
                    table
                        tr
                            th.text-left(colspan="2") Product
                            th.text-center Price
                            th.text-center Action
                        - for(var n = 0; n < 4; n++){
                        tr
                            td.cart__image-wrapper
                                a(href="#")
                                    img.cart__image(src="https://placehold.it/570x570?text=IMAGE", alt="Image", title="Product Image")
                            td.text-left 
                                .cart__product-name 
                                    a(href="#") Product Name Here Product Name Here
                                p
                                    a.cart__remove(href="#") Remove

                            td.text-center.cart__unit-price $200.00
                            td.text-center
                                a.btn.btn-block.btn-success.cart__add-to-cart(href="#")
                                    span.glyphicon.glyphicon-shopping-cart 
                                    span.text Add to cart
                        - }
                br


