USE [ISAD251]
GO
/****** Object:  StoredProcedure [dbo].[SPGetProductStockStatus]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP PROCEDURE IF EXISTS [dbo].[SPGetProductStockStatus]
GO
/****** Object:  StoredProcedure [dbo].[SPGetProducts]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP PROCEDURE IF EXISTS [dbo].[SPGetProducts]
GO
/****** Object:  StoredProcedure [dbo].[SPGetOrderDetailsById]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP PROCEDURE IF EXISTS [dbo].[SPGetOrderDetailsById]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
ALTER TABLE [dbo].[Products] DROP CONSTRAINT IF EXISTS [FK_dbo.Products_dbo.ProductCategories_CategoryID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT IF EXISTS [FK_dbo.OrderItems_dbo.Products_ProductID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT IF EXISTS [FK_dbo.OrderItems_dbo.Orders_OrderID]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  Table [dbo].[_MigrationHistory]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[_MigrationHistory]
GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[UserInfoes]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[ProductCategories]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[Contacts]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[AspNetRoles]
GO
/****** Object:  View [dbo].[ViewSales]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP VIEW IF EXISTS [dbo].[ViewSales]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[Products]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2020/1/11 上午 12:09:21 ******/
DROP TABLE IF EXISTS [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](max) NULL,
	[OrderStatus] [nvarchar](max) NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveryType] [nvarchar](max) NULL,
	[TableNo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductDescription] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountedPrice] [decimal](18, 2) NOT NULL,
	[SalesPeriodStartAt] [date] NOT NULL,
	[SalesPeriodEndAt] [date] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastModifiedAt] [datetime] NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[IsPublish] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewSales]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewSales] AS
SELECT
    o.OrderID,
    o.OrderStatus,
    o.OrderDate,
    o.CustomerID,
	CASE o.DeliveryType
		WHEN 'dinn_in' THEN 'Dinn In'
		ELSE 'Take Away' END AS DeliveryType,
	CASE o.DeliveryType
		WHEN 'dinn_in' THEN o.TableNo
		ELSE 0 END AS TableNo,
    SUM(CASE p.DiscountedPrice
        WHEN 0 THEN p.Price * i.Quantity
        ELSE p.DiscountedPrice * i.Quantity END) AS TotalAmount
FROM
    dbo.OrderItems i
INNER JOIN
    dbo.Products p ON i.ProductID = p.ProductID
INNER JOIN
    dbo.Orders o ON i.OrderID = o.OrderID
GROUP BY
    o.OrderID,
    o.OrderStatus,
    o.OrderDate,
    o.CustomerID,
	o.DeliveryType,
	o.TableNo
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastModifiedAt] [datetime] NOT NULL,
	[UserID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[JoinAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6b3a1335-20f6-406e-9988-8b7c6791078f', N'Contributor')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'942b1102-2c64-4336-b0b1-b58a22cc3307', N'Administrator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f693da73-a6c2-4ed4-936b-a52470b3e13d', N'Reader')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'cf32769c-abc4-47af-a034-f50a417de7ab', N'942b1102-2c64-4336-b0b1-b58a22cc3307')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'15b4fdf8-27f2-43ed-a56e-98897acc1fab', N'prince@gmail.com', 0, N'AJIhUgRedofQLy6ZTw4yddGbvbJjQfbM+ufGLUPjj1EwmGv7PNAI/ft/OWUCxl4+Wg==', N'92beb386-0a2a-4de4-9362-77ca4fe4bab4', NULL, 0, 0, NULL, 1, 0, N'prince@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1f5b89cb-271f-465d-9e26-023f853c94d4', N'jennifer@gmail.com', 0, N'AINtB7dkEIY2aicddAwW6me0RBUpp+1A/R6du/CUvH+hEcw8zfV2+hOcaw2zKTk1tw==', N'a2077ecf-0cd6-4b98-93b0-2b82cde79ca3', NULL, 0, 0, NULL, 1, 0, N'jennifer@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'cf32769c-abc4-47af-a034-f50a417de7ab', N'admin@myshop.com', 1, N'AANc5wz6wpLnHjjhvNXHYchR1d5FMWkiHtwyaez1VQrgRlvzRo+UPHCVhQFwLLOqpg==', N'333a6438-4458-4514-b810-10c9e81529f9', NULL, 0, 0, NULL, 0, 0, N'admin@myshop.com')
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ID], [FirstName], [LastName], [Email], [Subject], [Message], [CreatedAt], [LastModifiedAt], [UserID]) VALUES (1, N'Peter', N'Wong', N'peter@gmail.com', N'Hello World', N'This is the message', CAST(N'2020-01-05T13:21:39.373' AS DateTime), CAST(N'2020-01-05T13:21:39.373' AS DateTime), N'15b4fdf8-27f2-43ed-a56e-98897acc1fab')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ItemID], [OrderID], [ProductID], [Quantity]) VALUES (1, 1, 20, 5)
INSERT [dbo].[OrderItems] ([ItemID], [OrderID], [ProductID], [Quantity]) VALUES (2, 2, 20, 1)
INSERT [dbo].[OrderItems] ([ItemID], [OrderID], [ProductID], [Quantity]) VALUES (3, 3, 20, 3)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderStatus], [OrderDate], [DeliveryType], [TableNo]) VALUES (1, N'15b4fdf8-27f2-43ed-a56e-98897acc1fab', N'checkout', CAST(N'2019-12-11T23:48:06.217' AS DateTime), N'dinn_in', 0)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderStatus], [OrderDate], [DeliveryType], [TableNo]) VALUES (2, N'15b4fdf8-27f2-43ed-a56e-98897acc1fab', N'checkout', CAST(N'2019-12-12T00:08:49.400' AS DateTime), N'dinn_in', 5)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderStatus], [OrderDate], [DeliveryType], [TableNo]) VALUES (3, N'15b4fdf8-27f2-43ed-a56e-98897acc1fab', N'pending', CAST(N'2020-01-03T11:53:21.590' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Food')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Drink')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [ProductDescription], [Price], [DiscountedPrice], [SalesPeriodStartAt], [SalesPeriodEndAt], [StockQuantity], [CreatedAt], [LastModifiedAt], [FilePath], [IsPublish]) VALUES (1, N'Butter Croissant', 1, N'Golden pastry with soft, flaky layers and a rich buttery flavour.', CAST(50.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)), CAST(N'2019-11-11' AS Date), CAST(N'2023-11-11' AS Date), 40, CAST(N'2019-12-11T16:49:04.140' AS DateTime), CAST(N'2019-12-12T10:52:27.227' AS DateTime), N'file_20191212105227.jpg', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[UserInfoes] ON 

INSERT [dbo].[UserInfoes] ([Id], [UserId], [FirstName], [LastName], [Email], [PhoneNumber], [JoinAt]) VALUES (1, N'1f5b89cb-271f-465d-9e26-023f853c94d4', N'Jennifer', N'Mak', N'jennifer@gmail.com', N'99956789', CAST(N'2020-01-09T13:05:18.977' AS DateTime))
INSERT [dbo].[UserInfoes] ([Id], [UserId], [FirstName], [LastName], [Email], [PhoneNumber], [JoinAt]) VALUES (4, N'15b4fdf8-27f2-43ed-a56e-98897acc1fab', N'Prince', N'Wong', N'prince@gmail.com', N'99991111', CAST(N'2020-01-09T13:05:18.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserInfoes] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID]
GO
/****** Object:  StoredProcedure [dbo].[SPGetOrderDetailsById]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetOrderDetailsById](@OrderID AS INT)
AS
    SELECT
        i.ItemID,
        c.CategoryID,
        c.CategoryName,
        p.ProductID,
        p.ProductName,
        p.ProductDescription,
        CASE p.DiscountedPrice
            WHEN 0 THEN p.Price
            ELSE p.DiscountedPrice END AS Price,
        i.Quantity,
        CASE p.DiscountedPrice
            WHEN 0 THEN p.Price * i.Quantity
            ELSE p.DiscountedPrice * i.Quantity END AS SubTotal,
        p.FilePath
    FROM
        dbo.OrderItems i
    INNER JOIN
        dbo.Products p ON i.ProductID = p.ProductID
    INNER JOIN
        dbo.ProductCategories c ON p.CategoryID = c.CategoryID
    WHERE
        i.OrderID = @OrderID
    GROUP BY
        i.ItemID,
        i.OrderID,
        i.Quantity,
        c.CategoryID,
        c.CategoryName,
        p.ProductName,
        p.ProductID,
        p.ProductDescription,
        p.Price,
        p.DiscountedPrice,
        p.FilePath
GO
/****** Object:  StoredProcedure [dbo].[SPGetProducts]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetProducts] (@IS_ADMIN AS BIT, @ADMIN_AS_USER AS BIT, @QUERY_BY_KEYWORD AS BIT, @QUERY_BY_CATEGORY AS BIT, @KEYWORDS AS NVARCHAR(255), @CATEGORY_ID AS INT, @IS_ADMIN_PANEL AS BIT)
AS

DECLARE @CUR_DATETIME DATETIME2
SET @CUR_DATETIME = CURRENT_TIMESTAMP

IF(@IS_ADMIN_PANEL = 1)

	BEGIN
		-- Query products by keywords without date time limitation
		SELECT
			p.ProductID,
			c.CategoryID,
			c.CategoryName,
			p.ProductName,
			p.ProductDescription,
			p.price,
			p.DiscountedPrice,
			p.StockQuantity,
			p.FilePath,
			p.LastModifiedAt,
			p.IsPublish
		FROM
			dbo.Products p
		INNER JOIN
			dbo.ProductCategories c ON p.CategoryID = c.CategoryID
		ORDER BY
			p.ProductID DESC
	END

ELSE

	IF(@QUERY_BY_KEYWORD = 1)
		IF(@IS_ADMIN = 1 AND @ADMIN_AS_USER = 0)
			BEGIN
				-- Query products by keywords without date time limitation
				SELECT
					p.ProductID,
					c.CategoryID,
					c.CategoryName,
					p.ProductName,
					p.ProductDescription,
					p.price,
					p.DiscountedPrice,
					p.StockQuantity,
					p.FilePath,
					p.LastModifiedAt
				FROM
					dbo.Products p
				INNER JOIN
					dbo.ProductCategories c ON p.CategoryID = c.CategoryID
				WHERE
					p.IsPublish = 1 AND
					(p.ProductName LIKE '%' + @KEYWORDS + '%' OR
					p.ProductDescription LIKE '%' + @KEYWORDS + '%')
				ORDER BY
					p.ProductID DESC
			END
		ELSE
			BEGIN
				-- Query products by keywords with date time limitation
				SELECT
					p.ProductID,
					c.CategoryID,
					c.CategoryName,
					p.ProductName,
					p.ProductDescription,
					p.price,
					p.DiscountedPrice,
					p.StockQuantity,
					p.FilePath,
					p.LastModifiedAt
				FROM
					dbo.Products p
				INNER JOIN
					dbo.ProductCategories c ON p.CategoryID = c.CategoryID
				WHERE
					p.IsPublish = 1 AND
					p.SalesPeriodStartAt <= @CUR_DATETIME AND
					p.SalesPeriodEndAt >= @CUR_DATETIME AND
					(p.ProductName LIKE '%' + @KEYWORDS + '%' OR
					p.ProductDescription LIKE '%' + @KEYWORDS + '%')
				ORDER BY
					p.ProductID DESC
			END
	ELSE IF(@QUERY_BY_CATEGORY = 1)
		IF(@IS_ADMIN = 1 AND @ADMIN_AS_USER = 0)
			BEGIN
				-- Query products by category without date time limitation
				SELECT
					p.ProductID,
					c.CategoryID,
					c.CategoryName,
					p.ProductName,
					p.ProductDescription,
					p.price,
					p.DiscountedPrice,
					p.StockQuantity,
					p.FilePath,
					p.LastModifiedAt
				FROM
					dbo.Products p
				INNER JOIN
					dbo.ProductCategories c ON p.CategoryID = c.CategoryID
				WHERE
					p.IsPublish = 1 AND
					p.CategoryID = @CATEGORY_ID
				ORDER BY
					p.ProductID DESC
			END
		ELSE
			BEGIN
				-- Query products by category with date time limitation
				SELECT
					p.ProductID,
					c.CategoryID,
					c.CategoryName,
					p.ProductName,
					p.ProductDescription,
					p.price,
					p.DiscountedPrice,
					p.StockQuantity,
					p.FilePath,
					p.LastModifiedAt
				FROM
					dbo.Products p
				INNER JOIN
					dbo.ProductCategories c ON p.CategoryID = c.CategoryID
				WHERE
					p.IsPublish = 1 AND
					p.SalesPeriodStartAt <= @CUR_DATETIME AND
					p.SalesPeriodEndAt >= @CUR_DATETIME AND
					p.CategoryID = @CATEGORY_ID
				ORDER BY
					p.ProductID DESC
			END
	ELSE
		IF(@IS_ADMIN = 1)
			BEGIN
				-- Query products by default without date time limitation
				SELECT
					p.ProductID,
					c.CategoryID,
					c.CategoryName,
					p.ProductName,
					p.ProductDescription,
					p.price,
					p.DiscountedPrice,
					p.StockQuantity,
					p.FilePath,
					p.LastModifiedAt
				FROM
					dbo.Products p
				INNER JOIN
					dbo.ProductCategories c ON p.CategoryID = c.CategoryID
				WHERE
					p.IsPublish = 1
				ORDER BY
					p.ProductID DESC
			END
		ELSE
			BEGIN
				-- Query products by default with date time limitation
				SELECT
					p.ProductID,
					c.CategoryID,
					c.CategoryName,
					p.ProductName,
					p.ProductDescription,
					p.price,
					p.DiscountedPrice,
					p.StockQuantity,
					p.FilePath,
					p.LastModifiedAt
				FROM
					dbo.Products p
				INNER JOIN
					dbo.ProductCategories c ON p.CategoryID = c.CategoryID
				WHERE
					p.IsPublish = 1 AND
					p.SalesPeriodStartAt <= @CUR_DATETIME AND
					p.SalesPeriodEndAt >= @CUR_DATETIME
				ORDER BY
					p.ProductID DESC
			END
GO
/****** Object:  StoredProcedure [dbo].[SPGetProductStockStatus]    Script Date: 2020/1/11 上午 12:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetProductStockStatus]
(
    @ProductID AS INT
) AS

SELECT
    p.StockQuantity as Stock,
    p.StockQuantity - SUM(i.Quantity) AS RemainStock
FROM
    dbo.OrderItems i
INNER JOIN
    dbo.Products p ON i.ProductID = @ProductID
WHERE
    p.ProductID = @ProductID
GROUP BY
    p.StockQuantity,
    i.Quantity
GO
